{% extends 'base.html' %}

{% block title %}Home - Personal Portfolio{% endblock %}

{% block content %}
  <h1>Welcome to My Portfolio</h1>
  
  <h2 class="mt-4">Projects</h2>
  {% if projects %}
    <div class="row">
      {% for project in projects %}
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">{{ project['title'] }}</h5>
              <p class="card-text">{{ project['description'][:100] }}{% if project['description']|length > 100 %}...{% endif %}</p>
              {% if project['link'] %}
                <a href="{{ project['link'] }}" class="btn btn-primary" target="_blank">View Project</a>
              {% else %}
                <a href="{{ url_for('public.project_detail', project_id=project['id']) }}" class="btn btn-primary">Read More</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No projects available.</p>
  {% endif %}

  <h2 class="mt-4">Blog Posts</h2>
  {% if blog_posts %}
    <ul class="list-group">
      {% for post in blog_posts %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{{ url_for('public.blog_detail', post_id=post['id']) }}">{{ post['title'] }}</a>
          <small>{{ post['created'] }}</small>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No blog posts available.</p>
  {% endif %}
{% endblock %}
